.news {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news__title {
    color: rgb(83, 75, 75);
    margin-top: 25px;
    font-size: 56px;
    position: relative;
}
.news__title::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(83, 81, 81);
    position: absolute;
    bottom: -20px;
    left: 0;
}